In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('movies.csv', index_col=0, delimiter=',')
myfam = pd.DataFrame(data)

In [ ]:
data

In [ ]:
	Bird Box	The Woman King	Top Gun: Maverick	Lou	Black Panther
Lala	5.0	5.0	4.5	4.5	5.0
Djeny	4.5	4.0	5.0	4.5	4.5
Faty	4.0	4.5	5.0	4.5	5.0
Aoua	5.0	4.0	5.0	5.0	5.0
Zara	5.0	5.0	2.5	5.0	4.0

Now that I have my data loaded in the dataframe I can go ahead get my averages. I will also want to put into a new row by using loc as you can see below. Lastly I replace the NaN's with blanks as shown in the example problem.

In [ ]:
myfam.loc['mean'] = myfam.mean()
myfam.replace(np.nan, '', regex=True)

In [ ]:
	Bird Box	The Woman King	Top Gun: Maverick	Lou	Black Panther
Lala	5.0	5.0	4.5	4.5	5.0
Djeny	4.5	4.0	5.0	4.5	4.5
Faty	4.0	4.5	5.0	4.5	5.0
Aoua	5.0	4.0	5.0	5.0	5.0
Zara	5.0	5.0	2.5	5.0	4.0
mean	4.7	4.5	4.4	4.7	4.7

Average rating for each user

In [ ]:
myfam.mean()

In [ ]:
Bird Box             4.7
The Woman King       4.5
Top Gun: Maverick    4.4
Lou                  4.7
Black Panther        4.7
dtype: float64

Here, I will find the average rating for each person.

In [ ]:
myfam.mean(axis=1)

In [ ]:
Lala    4.8
Djeny      4.5
Fatou      4.6
Aoua    4.8
Zara      4.3
mean      4.6
dtype: float64

As you can see the mean is added as the last row fully calculated. Next step is to perform a normalization on the data.

In [ ]:
myfam_norm = (myfam - myfam.min()) / (myfam.max() - myfam.min())
myfam_norm.replace(np.nan, '', regex=True)

In [ ]:
	Bird Box	The Woman King	Top Gun: Maverick	Lou	Black Panther
Lala	1.0	1.0	0.80	0.0	1.0
Djeny	0.5	0.0	1.00	0.0	0.5
Fatou	0.0	0.5	1.00	0.0	1.0
Aoua	1.0	0.0	1.00	1.0	1.0
Zara	1.0	1.0	0.00	1.0	0.0
mean	0.7	0.5	0.76	0.4	0.7

Or I can pivot transpose the information this way

In [ ]:
ratings_norm = ((myfam - myfam.min()) / (myfam.max() - myfam.min())).transpose()
ratings_norm

In [ ]:
	Lala	Djeny	Fatou	Aoua	Zara	mean
Bird Box	1.0	0.5	0.0	1.0	1.0	0.70
The Woman King	1.0	0.0	0.5	0.0	1.0	0.50
Top Gun: Maverick	0.8	1.0	1.0	1.0	0.0	0.76
Lou	0.0	0.0	0.0	1.0	1.0	0.40
Black Panther	1.0	0.5	1.0	1.0	0.0	0.70

Average by user

In [ ]:
ratings_norm.mean(axis=1)

In [ ]:
Bird Box             0.70
The Woman King       0.50
Top Gun: Maverick    0.76
Lou                  0.40
Black Panther        0.70
dtype: float64

Average by movie

In [ ]:
mov_norm = pd.Series(ratings_norm.mean())
mov_norm

In [ ]:
Lala    0.760
Djeny      0.400
Fatou      0.500
Aoua    0.800
Zara      0.600
mean      0.612
dtype: float64

In conclusion, this data set has some advantages and disadvantages on using normalization. The normalized rating has advantage since a low or high rating by one single user won't have much of an effect. Perhaps normalizing would be useful if the ratings were done on a scale of 1-10 and most ratings were under 5, leaving some data far out of the 'normal' range.